<%- include('../includes/head.ejs') %>
  <link rel="stylesheet" href="/styles/auth.css" />
  </head>

  <body>
    <div class="container auth_container">
      <section class="auth_box">
        <h1 class="auth_title">Login</h1>
        <form action="/auth/login" method="POST" id="login-form" class="auth_form">
          <div>
            <input type="login" name="login" id="login" required placeholder="Login" class="auth_input" autocomplete="off">
          </div>
          <div>
            <input type="password" name="password" id="password" required placeholder="Password" class="auth_input" autocomplete="off">
          </div>
          <button type="submit" class="green_button" style="margin: 0;">Login</button>
        </form>
        <p class="auth_reminder">Don't have an account? <a href="/auth/register" class="green_link">Register here</a>
        </p>
      </section>

    </div>

    <script>
    </script>
  </body>

  </html>