<%- include('../includes/head.ejs') %>
  <link rel="stylesheet" href="/styles/auth.css" />
</head>
<body>
  <%- include('../includes/navigation.ejs') %>
  <div class="container auth_container">
    <section class="auth_box">
      <h1 class="auth_title">Register</h1>
      <form action="/auth/register" method="post" class="auth_form">
        <div>
            <input type="name" name="name" id="name" required placeholder="Name" class="auth_input" autocomplete="off">
        </div>
        <div>
          <input type="login" name="login" id="login" required placeholder="Login" class="auth_input" autocomplete="off">
        </div>
        <div>
          <input type="password" name="password" id="password" required placeholder="Password" class="auth_input" autocomplete="off">
        </div>
        <button type="submit" class="green_button" style="margin: 0;">Register</button>
      </form>
      <p class="auth_reminder">Already have an account? <a href="/auth/login" class="green_link">Login here</a></p>
    </section>
  </div>
  <div class="alert hide" id="alert">
    <p class="alert_message" id="alert_msg"></p>
  </div>

  <script src="/scripts/main.js"></script>

  <script>
    const form = document.querySelector('.auth_form');

form.addEventListener('submit', async (e) => {
e.preventDefault();

const name = document.querySelector('#name').value;
const login = document.querySelector('#login').value;
const password = document.querySelector('#password').value;

try {
  const response = await fetch('/auth/register', {
    method: 'POST',
    headers: {
      'Content-Type': 'application/json'
    },
    body: JSON.stringify({ name, login, password })
  });

  if (!response.ok) {
    const message = await response.text();
    throw new Error(message || 'Something went wrong');
  }else{
    showMessage("User successfully registered!")
    setTimeout(() => {
      window.location.href = '/auth/login';
      }, 1000);
  }
  } catch (error) {
    showMessage(error.message);
  }
  });
  </script>
</body>
</html>
